# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'atom-table-editor':
  'tab': 'core:move-right'
  'shift-tab': 'core:move-left'
  'cmd-shift-right': 'table-edit:select-to-end-of-line'
  'cmd-shift-left': 'table-edit:select-to-beginning-of-line'
  'cmd-shift-up': 'table-edit:select-to-beginning-of-table'
  'cmd-shift-down': 'table-edit:select-to-end-of-table'
  'cmd-alt-up': 'table-edit:insert-row-before'
  'cmd-alt-down': 'table-edit:insert-row-after'
  'cmd-alt-backspace': 'table-edit:delete-row'
  'cmd-alt-left': 'table-edit:insert-column-before'
  'cmd-alt-right': 'table-edit:insert-column-after'
  'cmd-alt-ctrl-backspace': 'table-edit:delete-column'

'atom-table-editor atom-text-editor:not([mini])':
  'enter': 'core:confirm'
  'ctrl-enter': 'editor:newline'
  'tab': 'table-edit:move-right'
  'shift-tab': 'table-edit:move-left'
  'ctrl-tab': 'editor:indent'
